*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: whitesmoke;
}
html
{
    font-size: 16px;
    
}
.fondo
{
  background-image: url(../images/Nicaragua-Ometepe-2.jpg)  ;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  background-size: cover;
  
    
}

/*aqui comienza la maquetacion con grid*/
.contenedor
{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: repeat(12, 1fr) /repeat(6,1fr);
}
.item
{
   ;
    border: 2px solid black;
}
.item:nth-child(1)
{
    grid-column:1/-1;
    
    
}
.item:nth-child(2)
{
    grid-row: span 10;
    grid-column: span 3;
}
.item:nth-child(3)
{
    grid-column: span 3;
    grid-row: 12/13;
}
.item:nth-child(4)
{
    grid-column: span 3;
    grid-row: span 6;
}
.item:nth-child(5)
{
    grid-column: span 1;
    grid-row: span 5;
}
.item:nth-child(6)
{
    grid-column: span 2;
    grid-row: span 1;
}
.item:nth-child(7)
{
    grid-column: span 1;
    grid-row: span 4;
}
.item:nth-child(8)
{
    grid-column: span 1;
    grid-row: span 4;
}
/*aqui comienza a ordenar el header*/
.header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem;

}
.logo
{
    display: flex;
    align-items: center;
}
.menu ul li
{
    list-style: none;
    text-decoration: none;
    
    margin: 0 1rem;
    display: inline;
}
.menu ul li a
{
    list-style: none;
    text-decoration: none;
    
    margin: 0 1rem;
}
/* aqui comienza la parte del hero*/
.hero
{
    text-shadow: black 2px 2px 3px;
    display: block;
    position: relative;
    top: 25%;
    margin-left: 1.5rem;
    left: auto;
    font-family: 'Playfair Display', serif;
}
.hero h1
{
    font-size: 4rem;
}
/* aqui va el estilo de las redes sociales*/

.fa-instagram 
{
    text-shadow: black 1px 1px 4px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin:  0.5rem;
    
}
.fa-twitter 
{
    text-shadow: black 1px 1px 4px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin:  0.5rem;
    
}
.fa-facebook 
{
    text-shadow: black 1px 1px 4px;
    color: white;
    font-size: 2rem;
    text-decoration: none;
    margin:  0.5rem;
    
}


